<input type="text" placeholder='Título' name="title" value="{{note.title}}">
{# 
                <div class="tools">
                    <div>
                        <img src="./assets/italic.svg" alt="">
                        <img src="./assets/bold.svg" alt="">
                        <img src="./assets/underline.svg" alt="">
                    </div>
                    <div class="alinhamento">
                        <img src="./assets/align-justify.svg" alt="">
                        <img src="./assets/align-center.svg" alt="">
                        <img src="./assets/align-left.svg" alt="">
                        <img src="./assets/align-rigth.svg" alt="">
                    </div>
                </div> #}
<textarea name="areatext" placeholder="Escreva aqui" cols="30" rows="10">
    {{note.areatext}}
</textarea>

<button type="submit">Salvar</button>