@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color:  #3321AD;
    
    font-family: 'Roboto', sans-serif;


}
.container{
    background-color: #fff;
    width: 1000px;
    height: 600px;
    margin: 6% auto;
    border-radius: 6px;
    position: relative;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 20vh 1fr;
    grid-template-areas: 'a h'
                        'a m';
                        box-shadow: 2px 6px 6px -4px #333;
}
header,
main{
    padding: 50px
}
header{
    width: 100%;
    grid-area: h;   
}
header .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header h1{
    color: #B2B8E5;
    font-size: 24px;
    font-weight: 500;
}
.buttons
, header a{
    color: #fff;
    background-color:#6E7CEE;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    margin-top:8px ;
    width: auto;
    padding: 10px;
    cursor: pointer;
    
}
header .search{
    background-color: #F1F2FD;

    width: 300px;

    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    outline: none;
}
aside{
    grid-area: a;
    height: 100%;
    width: 0%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    transition: all 1s ease-out;
    visibility: hidden;
    overflow: hidden;
}
aside a{
    width: 100%;
    height: 100%;
}
.menu-hamburguer{
    margin: 0 auto;
    padding: 17px;
    box-sizing: content-box;
    z-index: 1;
    cursor: pointer;
    
}

.aside-animation{
    background:#5E6DDE;
    width: 100%;
    visibility: visible;
}
.menu ul{
    align-items: center;
    background-color: #6E7CEE;
}
.menu ul li{
    list-style: none;
    padding: 30px 45px;
    border-radius: 3px;
        
    border-bottom: 1px solid rgba(0, 0, 0,0.2);
    cursor: pointer;  
}
.menu ul:nth-child(1){
    margin-top: 50px;
}
.menu ul li:nth-child(3){
    border: none;
}
.container{
    overflow: auto;
}
::-webkit-scrollbar{
    width: 25px;
}
::-webkit-scrollbar-track{
    border: 7px solid #f9f9f9;
    box-shadow:  inset 0 0 2.5px 2px #666;
}

main{
    grid-area: m;
    padding-top:10px ;
}

main .container-content ul li{
    /* align-items: center; */
    list-style: none;
    padding: 10px;
    background-color: #F1F2FD;
    margin: 6px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
}
main .container-content ul li .btn,.btn-remove{
    display: inline-block;
    width: 64px;
    font-size: 14px;
    font-weight: 700;

     margin-top: 2px; 
    padding: 5px;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
}
main .container-content ul li .btn{
    background-color:#6E7CEE;
}
main .container-content form .btn-remove{
    background-color:rgb(255, 72, 0);
}

.container-main form{
    display: flex;
    flex-direction: column;
}
.container-main form input{
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0,0.2);
    max-width: 300px;
    outline: none;
}
/* .container-main .tools{
    display: flex;
    
    margin-top: 10px;
    padding: 5px 0 5px 2px;
    max-width: 200px;
    background-color: #eeeeee;

    border: 4px solid #f9f9f9;
} */

.container-main form textarea{
    height: 300px;
    max-width: 700px;
    
    background-color: #f9f9f9;
    
    margin-top: 20px;
    padding: 5px;
    /* box-shadow: 2px 4px 6px -4px #333; */
    border: 1px solid rgba(0, 0, 0,0.2);
    border-radius: 5px;
    outline: none;

    margin-bottom: 10px;
    resize: none;
    
 
}
.container-main form button{
    max-width: 700px;
    border-radius: 5px;
    padding: 4px;
    background-color: #5E6DDE;
    color: #fff;
    cursor: pointer;
}
header ul li{
    list-style: none;
    display: inline;
}
header ul li:nth-child(1){
margin: 0 10px;
}
a,.btn-remove{
    text-decoration: none;
    color: #fff;
}